body {
    overflow: hidden;
}

th,
td {
    padding: 2px !important;
}

.mic {
    text-align: center;
    padding: 0.6rem;
    color: white;
    border-radius: 5px;
}

.cabecalho,
.metrica {
    text-align: center;
    padding: 0.77rem;
    color: white;
    border-radius: 5px;
}

.sla {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    border-radius: 5px;
}

.info_sla {
    font-weight: bold;
}

.sla_01 {
    background-color: #311b92;
}

.sla_02 {
    background-color: #1a237e;
}

.sla_03 {
    background-color: #0d47a1;
}

.temporizador,
.contador {
    text-align: center;
    color: white;
    padding: 0.30rem;
    border-radius: 5px;
}

.temporizador {
    padding: 0.5rem;
}

.contador {
    margin-top: 0%;
    padding-top: 0%;
    border-radius: 5px;
    font-weight: bold;
}

.info {
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 2.9rem;
    font-weight: bold;
}

.fila {
    padding: 26.5px;
}

.info_fila {
    font-size: 4rem;
}

.info_tma,
.info_tme {
    font-size: 1rem;
    padding: 0rem;
    padding-bottom: 0rem;
}

.info_fila {
    padding-bottom: 0px !important;
    border-radius: 0px;
}

.graph {
    text-align: center;
    width: 0rem;
    margin-right: 0;
    padding-left: 0rem;
    padding-right: 1rem;
}

.graph2 {
    height: 150px;
    width: 300px;
}

.tma_tme {
    padding: 0rem;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    font-size: 1rem;
}

.recebidas {
    background-color: #6200ea;
    padding: 1px !important;
}

.atendidas {
    background-color: #004d40;
    padding: 1px !important;
}

.abandonadas {
    background-color: #b71c1c;
    padding: 1px !important;
}

#chartdiv {
    width: 100%;
    height: 200px;
}

.table_sla {
    color: white;
    width: 100px;
    font-size: small;
}


/* .sla_metrica {
    color: white;
}

.sla_info {
    color: white;
} */


/* .c1,
.c2,
.c3,
.c4 {
    display: none;
} */